@{
    ViewBag.Title = "About";
}
<br /><br />
<h2>@ViewBag.Title</h2>
<br />
<hr />
<h5>@ViewBag.Message</h5>

<p class="lead">This web application was created as a term project for subject Multimedia Retrieval (MI-VMM).</p>
