@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />
<hr />
<h4>@ViewBag.Message</h4>

<address>
    <strong>Email:</strong> <a href="mailto:moravane@fit.cvut.cz">moravane@fit.cvut.cz</a><br />
</address>

<address>
    Czech Technical University in Prague<br />
    Faculty of Information Technology<br />
    Thákurova 9, 160 00 Prague 6, Czechia<br />
</address>