@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1 class="display-4">Image similarity based on its histogram</h1>
    <div class="row">
        <div class="col-md-7">
            <p>
                <br />
                <ul class="offset-1">
                    <li class="lead">Create (upload) image for which you want to display similar images.</li>
                    <li class="lead">Created images are saved into database and displayed in this web application.</li>
                    <li class="lead">Each image can be edited, deleted or we can display its details.</li>
                    <li class="lead">In details of any image from database can be displayed a set of similar images.</li>
                </ul>
            </p><br />
            <p class="offset-1">
                @Html.ActionLink("START", "Index", "Images", new { controller = "Images", action = "Index" }, new { @class = "btn btn-success btn-lg" })
            </p><br /><br />
        </div>
    </div>
</div>
