@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image similarity based on its histogram</h1>
    <div class="row">
        <div class="col-md-8">
            <h4>Instructions:</h4>
            <p>
                <ol>
                    <li>Create (upload) image for which you want to display similar images.</li>
                    <li>Created images are saved into database and displayed in this web application.</li>
                    <li>Each image can be edited, deleted or we can display its details.</li>
                    <li>In details of any image from database, there can be displayed a set of similar images.</li>
                </ol><br />
                @Html.ActionLink("Start", "Index", "Images", new { controller = "Images", action = "Index" }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>
